{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'scripts.js' %}"></script>
    <title>demoarcade</title>
</head>
<body>
    <nav>
        <div class ="div_logo">

                <img src= {% static 'Img_template/demoarcade.png' %} width = "200px" alt="Demoarcade">

        </div>
        
        <div class ="div_icons"> 

        <a href="" class="icon_home"><img src={% static 'Img_template/homeicon.png' %} width = "48px" height=" 48px" alt="Ícone da home"></a>
        <a href="" class="icon_sobre"><img src={% static 'Img_template/abouticon.png' %} width = "48px" height=" 48px" alt="Ícone do sobre"></a>
        <a href="" class="icon_comojogar"><img src={% static 'Img_template/howtoplayicon.png' %} width = "48px" height=" 48px" alt="Ícone das instruções"></a> 

        </div>



    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>