{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'scripts.js' %}"></script>
    <title>Demoarcade</title>
    <link href="{% static 'fonts/FSEX300.ttf' %}" rel="stylesheet">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <script defer src="{% static 'scripts.js' %}"></script>

</head>
<body>
    <nav>
        <div class ="div_logo">

            <img src= {% static 'Img_template/demoarcade.png' %} alt="Demoarcade">

        </div>
        
        <div class ="div_icons"> 

            <a href="/" id="icon_home"><img src={% static 'Img_template/homeicon.png' %} title="Ícone para voltar a página inicial"></a>
            <a href="#" id="icon_sobre"><img src={% static 'Img_template/abouticon.png' %} title="Ícone do sobre"></a>
            <a href="/instrucoes" id="icon_comojogar"><img src={% static 'Img_template/howtoplayicon.png' %} title="Ícone das instruções"></a> 
            <!--estilizar caixa de cadastro do jogador-->
            <a href="{% url 'dados_do_jogador_new' %}" class="caixa_de_cadastro"></a>
        </div>



    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>