{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style_game.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="{% static 'Img_game/favicon.ico' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        let url_fundo = "{% static 'Img_game/fundo.png' %}";
        let url_player = "{% static 'Img_game/PLAYER_SHIP_OFF.png' %}";
        let url_player_avanco = "{% static 'Img_game/PLAYER_SHIP_ON.png' %}";
        let url_tiro_player = "{% static 'Img_game/PLAYER_SHIP_SHOT.png' %}";
        let url_tiro_power = "{% static 'Img_game/tiros_power.png' %}";
        let url_coracao1 = "{% static 'Img_game/coracao_1.png' %}";
        let url_coracao2 = "{% static 'Img_game/coracao_2.png' %}";
        let url_coracao3 = "{% static 'Img_game/coracao_3.png' %}";
        let url_coracao_power = "{% static 'Img_game/coracao_power.png' %}";
        let url_inimigo1 = "{% static 'Img_game/ENEMY_SHIP_1.png' %}";
        let url_inimigo2 = "{% static 'Img_game/ENEMY_SHIP_2.png' %}";
        let url_inimigo3 = "{% static 'Img_game/ENEMY_SHIP_3.png' %}";
        let url_tiro_inimigo = "{% static 'Img_game/ENEMY_SHIP_SHOT.png' %}";
        let url_explosao = "{% static 'Img_game/explo.png' %}";
        let url_meteoro = "{% static 'Img_game/METEOR_1.png' %}";
        let url_sound_music = "{% static 'Sound_fx/music.wav' %}";
        let url_sound_impacto = "{% static 'Sound_fx/impacto2.wav' %}";
        let url_sound_morte = "{% static 'Sound_fx/morte_player.wav' %}";
        let url_sound_tiro = "{% static 'Sound_fx/tiro_player.wav' %}";
        let url_sound_morte_alien = "{% static 'Sound_fx/morte_alien1.wav' %}";

    </script>
    <script defer src="{% static 'script_game.js' %}"></script>
    
    <title>DemoArcade</title>
</head>
<body id="corpo_pagina" nickname="{{ nickname }}" pontuacao = "{{ pontuacao }}">

    <script>

        function enviar(){

            htmlWidth = $("html").width();
            $.ajax({
                type: "POST",
                url: "/game",
                data:{ nickname_js: "teste nome" }, 
                success: function(data){
                    console.log(data); 
                }
            })


            // $(document).on('submit', '#post-form',function(e){
            //     $.ajax({
            //         type:'POST',
            //         url:'/game',
            //         data:{
            //             nickname:"testename",
            //             pontuacao: 10,
            //             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            //             action: 'post'
            //         },
            //         success:function(json){

            //         },
            //         error : function(xhr,errmsg,err) {
            //             console.log("erro"); 
            //         }
            //     });
            // });

            // form = document.createElement('form');
            // form.setAttribute('method', 'POST');
            //form.setAttribute('action', 'someURL');
            // {% csrf_token %}
            // var csrf = document.createElement('input');
            // csrf.setAttribute("type","hidden");
            // csrf.setAttribute("name","_token");
            // csrf.setAttribute("value","{% csrf_token %}")
            // form.appendChild(csrf);

            // myvar = document.createElement('input');
            // myvar.setAttribute('nickname_js', "teste envio");
            // myvar.setAttribute('recorde_js', "teste envio senha");
            // form.appendChild(myvar);
            // document.body.appendChild(form);
            // form.submit();   

            // $(document).ready(function () {
            //     $("#test").submit(function (event) {
            //         $.ajax({
            //         type: "POST",
            //         url: "/edit_favorites/",
            //         data: {
            //             'video': $('#test').val() // from form
            //         },
            //         success: function () {
            //             $('#message').html("<h2>Contact Form Submitted!</h2>")
            //         }
            //         });
            //         return false; //<---- move it here
            //     });
            // });

        }
    </script>

</body>
</html>