{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="sobre">
    <img src={% static 'Img_template/sobre.png' %} alt="sobre">
</div>


<div class="grupo">



    <section class="dev"> 
        <img src="{% static 'Img_template/gustavo.jpg' %}" alt="foto do Gustavo">
        <h2 class="nomedev">Gus</h2>
        <p>gusalmeidabraga@gmail.com</p>
        <a href="https://www.linkedin.com/in/gustavobrag/">
            <img src={% static 'img_template/linkedinicon.png' %} alt="">
        </a>
        <a href="https://github.com/bragus">
            <img src={% static 'img_template/githubicon.png' %} alt="">
        </a>
    </section>

    <section class="dev"> 
        <img src="{% static 'Img_template/tony.jpg' %}" alt="foto do Tony">
        <h2 class="nomedev">Tony</h2>
        <p>victor.everlen@gmail.com</p>
        <a href="https://www.linkedin.com/in/everlen-victor">
            <img src={% static 'img_template/linkedinicon.png' %} alt="">
        </a>
        <a href="https://github.com/everlen">
            <img src={% static 'img_template/githubicon.png' %} alt="">
        </a>
    </section>


</div>   

{% endblock %} 
