{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="sobre">
     <h1>Sobre</h1>
</div>

<div id="descricao">
    <p>Demoarcade é um jogo desenvolvido em JavaScript e HTML no melhor estilo arcade. <br> As pessoas envolvidas no projeto foram:</p>
</div>

<div class="grupo">

    <section class="dev"> 
        <h2 class="nomedev">Alex</h2>
        <img src="{% static 'Img_template/alex.jpg' %}" alt="foto do Alex">
        <p>Contato: blalbalba@blabla.com.br <br>
           Linkedin:
           
               
    
        </p> 
    </section>

    <section class="dev"> 
        <h2 class="nomedev">Douglas</h2>
        <img src="{% static 'Img_template/douglas.png' %}" alt="foto do Douglas">
        <p>Contato: douglasyhirata@gmail.com <br>
        Linkedin:

    </section>

    <section class="dev"> 
        <h2 class="nomedev">Gustavo</h2>
        <img src="{% static 'Img_template/gustavo.jpg' %}" alt="foto do Gustavo">
        <p>Contato: blalbalba@blabla.com.br <br>
        Linkedin:
    </section>


</div>   

<div class="grupo">

    <section class="dev">
        <h2 class="nomedev">Jovenel</h2>
        <img src="{% static 'Img_template/jovenel.jpg' %}" alt="foto do Jovenel">
        <p>Contato: blalbalba@blabla.com.br <br>
        Linkedin:
    </section>

    <section class="dev">
        <h2 class="nomedev">Tony</h2>
        <img src="{% static 'Img_template/tony.jpg' %}" alt="foto do Tony">
        <p>Contato: blalbalba@blabla.com.br <br>
        Linkedin:
    </section>

    <section class="dev">
        <h2 class="nomedev">Xico</h2>
        <img src="{% static 'Img_template/xico.jpg' %}" alt="foto do Xico">
        <p>Contato: blalbalba@blabla.com.br <br>
        Linkedin:
    </section>


</div>


{% endblock %} 