
/* ========== BASE =============== */

body {
    background-image: url(Img_template/fundo.png);
    background-size: 30vw;
    display: grid;
    font-family: 'Fixedsys Excelsior 3.01';
    grid-template-areas:'navbar'
                        'header'  
                        'main';
    grid-template-columns: 100%;
}

nav {
    align-items: center;
    background-image: url(Img_template/fundo.png);
    background-size: 30vw;
    border: 0.2vw solid;
    border-color: #7053c6;
    border-radius: 5px;
    display: flex;
    grid-area: navbar;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    width: 96vw;
}

.div_logo{
    align-items: center;
    display: flex;
}

.div_logo img {
    padding-left: 2vw;
    width: 17vw;
}

.div_icons {
    align-items: center;
    display: flex;
    padding-right: 1.5vw;
    padding-top: 0.5vh;
}

.div_icons a img {
    margin-right: 1vw;
    width: 3vw;
}

#icon_home:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

#icon_sobre:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

#icon_comojogar:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}


/* ========== HOME =============== */
.home{
    display: grid;
    justify-content: center;
}


#logohome{
    align-items: center;
    display: flex;
    justify-content: center;
}

#logohome img{
    width: 40vw;
}

.home_icons{
    align-items: top;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}



.home_icons img{
    margin-top: 3vw;
    width: 3vw;
}


#mostrar_play{
    color: white;
    font-size: 1.2vw;
    justify-content: center;
    opacity: 0;
    font-family: "demoArcade";
}


#mostrar_about{
    color: white;
    font-size: 1.2vw;
    justify-content: center;
    opacity: 0;
    font-family: "demoArcade";
}


#mostrar_help{
    color: white;
    font-size: 1.2vw;
    justify-content: center;
    opacity: 0;
    font-family: "demoArcade";
}


#home_icon_play:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

#home_icon_play:hover #mostrar_play{
    opacity: 100;
    transition: all 150ms linear;
}



#home_icon_about:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

#home_icon_about:hover #mostrar_about{
    opacity: 100;
    transition: all 150ms linear;
}

#home_icon_help:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

#home_icon_help:hover #mostrar_help{
    opacity: 100;
    transition: all 150ms linear;
}

.cadastro{
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;

}

.form{
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
}

.form form{
    color:white;
}


.form button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button img{
    width: 7vw;
}

.form button img:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
    cursor: pointer;
}

button{
    background: none;
    border: none;
    margin: 1vw;
}


#button{
    align-items: center;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
}



.score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.score section{
    align-items: center;
    border: 0.2vw solid;
    border-color: #7053c6;
    border-radius: 5px;
    color: white;
    display: grid;
    justify-content: center;
    width: 25vw;
    font-family: "demoArcade";
}

.score section h2{
    font-size: 1.9vw;
    text-align: center;
    font-family: "demoArcade";
}

.score section p{
    font-size: 1.9vw;
    text-align: left;
    font-family: "demoArcade";
}

.highScores {
	position: center;
	bottom: 35px;
	right: 0px;
	line-height: 10px;
    font-size: 14px;
    text-align: center;
    font-family: "demoArcade";
 }


#ranking{
    display: flex;
    justify-content: center;
}

#ranking img{
    margin-bottom: 2vh;
    width: 8vw;
}

#ranking img:hover{
    filter: brightness(150%) saturate(130%);
    transition: all 150ms linear;
}

/* ========= RANKING ============= */

#RankingPage{
    align-items: center;
    display: flex;
    justify-content: center;
}

.highScoresRank {
    color:white;
    font-family: "demoArcade";
    font-size: 14px;
	line-height: 10px;
	position: center;
	right: 0px;
    text-align: center;
    padding-top: 7vw;

 }

/* ========== INSTRUÇÕES =============== */


#comojogar{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

#comojogar img{
    width: 20vw;
}

.textodir{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.textodir p{
    color: white;
    font-size: 2.5vw;
    font-family: "demoArcade";
}

.textodir img{
    width: 12vw;
}

.textoesq{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.textoesq p{
    color: white;
    font-size: 2.5vw;
    text-align: right;
    font-family: "demoArcade";
    
}

.textoesq img{
    width: 25vw;
}


/* =========== FONTE ============ */

@font-face {
    font-family: "demoArcade";
    src: url(fonts/FSEX300.ttf)
}

/* ============== SOBRE =========== */

#sobre{
    display: flex;
    color: purple; 
    font-family: "demoArcade";
    font-size: 3.0vw;
    justify-content: center;
    margin-top: 15vh;

}

#descricao{
    color: white;
    font-family: "demoArcade";
    font-size: 2vw;
    text-align: center;
}

.grupo {
    align-items: center;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 12vh;
    text-align: center;
}

.dev {
    color: white;
    font-family: "demoArcade";
    font-size: 1.5vw;
}

.dev img {
    border-radius: 100%;
    border-color: purple;
    width: 15vw;

}
