
/* ========== BASE =============== */

body {
    background-image: url(Img_template/fundo.png);
    background-size: 100vw;
    display: grid;
    font-family: 'Fixedsys Excelsior 3.01';
    grid-template-areas:'navbar'
                        'header'  
                        'main';
    grid-template-columns: 100%;
}

nav {
    align-items: center;
    background-image: url(Img_template/fundo.png);
    background-size: 100vw;
    border: 0.2vw solid;
    border-color: #7053c6;
    border-radius: 5px;
    display: flex;
    grid-area: navbar;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    width: 96vw;
}

.div_logo{
    align-items: center;
    display: flex;
}

.div_logo img {
    padding-left: 2vw;
    width: 17vw;
}

.div_icons {
    align-items: center;
    display: flex;
    padding-right: 1.5vw;
    padding-top: 0.5vh;
}

.div_icons a img {
    margin-right: 1vw;
    width: 3vw;
}


/* ========== HOME =============== */
.home{
    display: grid;
    justify-content: center;
}


#logohome{
    align-items: center;
    display: flex;
    justify-content: center;
}

#logohome img{
    width: 40vw;
}

.home_icons{
    align-items: top;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}

.home_icons img{

    margin-top: 3vw;
    width: 3vw;

}

#mostrar_play{
    display: flex;
    justify-content: center;
    display:none;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    font-style: bold;
}

#mostrar_about{
    display: flex;
    justify-content: center;
    display:none;
    font-size: 1.2vw;
    color: white;
}

#mostrar_help{
    display: flex;
    justify-content: center;
    display:none;
    font-size: 1.2vw;
    color: white;
}



/* ========== INSTRUÇÕES =============== */


#comojogar{
    display: flex;
    justify-content: center;
    margin-top: 15vh;

}

#comojogar img{
    width: 20vw;
}

.textodir{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.textodir p{
    color: white;
    font-size: 2.5vw;
}

.textodir img{
    width: 12vw;
}

.textoesq{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.textoesq p{
    color: white;
    font-size: 2.5vw;
    text-align: right;
}

.textoesq img{
    width: 25vw;
}